
// Colors
$primary-color : #2E90E5;
$secondry-color : #FF6875;
$text-color : #22262A;


// Fonts
$nova-bold : "proxima_nova_altbold";
$nova : "Proxima Nova";
$nova-scosfthin: "proxima_nova_scosfthin";
$nova-semibold: 'proxima_nova_ltsemibold';
$nova-ltthin: 'proxima_nova_ltthin';
$nova-altblack: 'proxima_nova_altblack';